node_modules
/scripts

/packages/backend/.tmp
/packages/backend/*.log
/packages/backend/*.sql
/packages/backend/*.sqlite
/packages/backend/*.sqlite3
/packages/backend/public/uploads/*
!/packages/backend/public/uploads/.gitkeep
/packages/backend/.env
/packages/backend/license.txt
/packages/backend/exports
/packages/backend/.cache
/packages/backend/*.cache
/packages/backend/build
/packages/backend/.strapi-updater.json

/packages/frontend/dist
/packages/frontend/dist-ssr
/packages/frontend/.env.local
