@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './components/container.css';
@import './components/icon.css';
@import './components/multiselect.css';

@layer base {
  h1 {
    @apply font-display text-3xl leading-tight;

    @screen sm {
      @apply text-4xl;
      @apply leading-none;
    }

    @screen lg {
      @apply text-5xl;
    }
  }

  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  *:focus {
    outline: none !important;
    @apply ring-2 ring-primary-400;
  }

  a {
    @apply text-primary-500;
  }

  a:hover,
  a:focus {
    @apply text-primary-800;
  }

  a,
  button,
  input {
    transition-property: color, background, border, box-shadow;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
  }

  input {
    /* Remove inner shadow on iOS */
    appearance: none;
  }

  input[type='search']::-webkit-search-cancel-button {
    display: none;
  }

  abbr[title] {
    text-decoration: none;
  }
}
